@{
    ViewBag.Title = "Quienes Somos - Regional Marketing Services";
    Layout = "~/Views/Shared/_LayoutAGD.cshtml";
}
</ul>
<div class="banner clear">
    <h2 class="current_page right">
        Quienes Somos</h2>
    <em class="tagline left">Aliados y promotores de tus mejores recuerdos</em></div>
<div id="content">
    <div class="about left">
        <p>
            <img class="left" src="images/about_img.jpg" width="228" height="149" alt="" />Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id elit turpis.
            Sed sem diam; aliquam et rhoncus vitae, congue sed augue. Suspendisse et leo turpis.
            Donec bibendum justo ipsum. Vivamus dignissim ligula quis sem tincidunt vitae euismod
            nibh sagittis. Aenean nec eros tortor, sed egestas dolor. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Vestibulum posuere, nisl vitae pulvinar convallis,
            elit enim laoreet purus; at euismod magna augue eget eros. Aenean at malesuada leo!
            Pellentesque tincidunt lacus eget metus placerat vulputate?</p>
        <blockquote>
            <p>
                <span>&ldquo;</span>Aliquam sit amet tellus mi, ut rutrum magna. Nam condimentum,
                tellus at dictum interdum, elit urna vulputate est, id dictum orci leo non quam.
                Proin pharetra egestas eleifend? Nullam et fermentum ligula. Praesent nibh purus.<span>&rdquo;</span><br />
                <cite><span>&ldquo;</span>john smith 1809<span>&rdquo;</span></cite></p>
        </blockquote>
        <p>
            ullamcorper in blandit non; mattis sed ante! Vestibulum pulvinar, dolor et interdum
            dictum, felis justo facilisis felis, sit amet imperdiet lectus risus eu velit? Morbi
            nulla est, dapibus quis consequat et, volutpat non quam.Vivamus ac magna tellus.
            Etiam dapibus tempor eleifend. Nullam ultrices odio eget nibh mattis tempor! Proin
            id facilisis felis. Donec id est non orci scelerisque sagittis. Vestibulum mauris
            libero, molestie sed commodo eget, lobortis quis turpis. Pellentesque at metus eros;
            et
            <img class="right" src="images/about_img.jpg" width="228" height="149" alt="" />consequat
            neque. Vivamus posuere nisl vel elit porttitor ut blandit metus commodo. Integer
            eleifend egestas vulputate. Sed nisi eros, varius sed luctus sed, suscipit vel ligula?
            Ut sit amet leo blandit lorem feugiat tempor volutpat id nisl. In hendrerit lacus
            nec elit faucibus eget sollicitudin ipsum lobortis! Mauris non aliquet dolor! Maecenas
            dignissim ornare velit venenatis pulvinar.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Pellentesque justo quam, ultricies at cursus et, sodales eget purus.
            Nulla elit mi, feugiat ut scelerisque at; faucibus ut quam? Pellentesque ac sapien
            eu tellus pretium fringilla congue et sem! Nam lobortis vestibulum sapien vitae
            imperdiet. Praesent porta nisl non arcu bibendum elementum. Aliquam ultricies, eros
            a posuere convallis, libero mi consequat justo, sed volutpat mi nisl eu est! Suspendisse
            semper quam ut neque suscipit volutpat. Nunc ligula lorem, aliquam et sodales ut;
            commodo sit amet diam. Donec lacinia, nisl dapibus ornare semper, arcu nisi ornare
            libero, quis mattis purus sem eget ipsum. Nulla eleifend ornare vehicula. Proin
            vitae nisl ipsum, non elementum odio? Nulla facilisi. Aliquam erat volutpat. Vestibulum
            quis massa orci, nec viverra nunc. Etiam mollis orci ut augue ultricies laoreet.
        </p>
    </div>
    @Html.Partial("_sidebar")
</div>
