<div class="footer_menu left">
    <h4>
        Links</h4>
    <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">about us</a></li>
        <li><a href="#">portfolio</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact us</a></li>
    </ul>
</div>
<div class="latest_tweets left">
    <div class="tweet">
        <h4>
            Latest Tweets</h4>
        <ul class="tweet_list">
            <li class="tweet_first tweet_odd"><a href="#">about 13 hours ago</a> <span class="tweet_text">
                Hendeu libero aliquam quisque dictus et cras malesuada sempor curabi turpis cipiscinia
                nulla idsem consectetur vestibus pretium. <a href="#">Read More</a></span></li>
        </ul>
    </div>
    <div class="follow clear">
        <a href="#">follow us on twitter</a></div>
</div>
<div class="testmonials left">
    <h4>
        Testmonials</h4>
    <blockquote id="testmonial">
        <p>
            <span class="quote">&nbsp;</span>Morbi faucibus, tortor at ultricies dapibus, est
            tortor lacinia lacus, vel laoreet dolor augue sit amet arcellentesque nec lacinia
            elit.<br />
            <span class="testmonial_client">&mdash; Mike bradley AGD CEO.</span></p>
    </blockquote>
</div>
<div class="copy clear">
    <p class="left">
        Copyright &copy; 2013, Regional Marketing Services, C. A.</p>
    <p class="right">
        <a href="http://www.free-css.com/">Free CSS Templates</a> by <a href="http://gabri.me/">
            Gabri</a></p>
    <div class="clear">
    </div>
</div>
