<div class="sidebar right">
    <h3>
        Búscanos</h3>
    <ul style="font-size: smaller">
        <li style="font-size: smaller" class="facebook"><a href="http://www.facebook.com/pages/Regional-Marketing-Services-CA/141939109283180"
            target="_blank">Facebook</a></li>
        <li style="font-size: smaller" class="twitter"><a target="_blank" href="http://twitter.com/regionalviajes">
            Twitter</a></li>
        <li  class="mail"><a  href="mailto:promocionesrm@regionalmarketing.com.ve">
            Email </a></li>
        <li style="font-size: 9pt" class="address">+58 212 9593217 / 9598283
            <br />
            3253617 / 3253618 / 3253619
            <br />
            C.C.C.T, 1era. Etapa,
            <br />
            Piso 3, Oficina 303,<br />
            Chuao, Caracas, Venezuela. </li>
    </ul>
</div>
