@model RMS.Models.RoomTypeBed
@{
    ViewBag.Title = "Eliminar";
}
<h2>
    Eliminar Tipo de Ocupación</h2>
<h3>
    ¿Está seguro de eliminar este tipo de ocupación?</h3>
<fieldset>
    <legend>Tipo de Ocupación</legend>
    <div class="display-label">
        Tipo de Habitación:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomType.Name)
    </div>
    <div class="display-label">
        Tipo de Cama:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomBed.Name)
    </div>
    <div class="display-label">
        Cantidad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Eliminar" />
        |
        @Html.ActionLink("Volver al Listado", "Index")
    </p>
}
